<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultLayout :: layout (~{::title}, ~{::#content}, ~{::#contentJS})}">
<head>
    <meta charset="utf-8" />
    <title>달리기왕 개랑맨 - editRecordForm</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<div id="content">
    <div class="container-fluid p-3">
        <div class="py-5 text-center">
            <h2>달리기 기록 수정</h2>
        </div>

        <h4 class="mb-3">달리기 기록 수정</h4>

        <form action="records.html" th:object="${record}" th:action="@{/records/{recordId}(recordId=${record.id})}" method="post">
            <div>
                <label for="dateTime" th:text="#{record.dateTime}">일시</label>
                <input type="datetime-local" id="dateTime" class="form-control" th:field="*{dateTime}">
            </div>
            <div>
                <label for="temperature" th:text="#{record.temperature}">기온</label>
                <input type="text" id="temperature" class="form-control" th:field="*{temperature}">
            </div>
            <div>
                <label for="distance"th:text="#{record.distance}">거리</label>
                <input type="text" id="distance" class="form-control" th:field="*{distance}">
            </div>
            <div>
                <label for="durationHour" th:text="#{record.durationHour}">시간</label>
                <input type="text" id="durationHour" class="form-control" th:field="*{durationHour}">
            </div>
            <div>
                <label for="durationMin" th:text="#{record.durationMin}">분</label>
                <input type="text" id="durationMin" class="form-control" th:field="*{durationMin}">
            </div>
            <div>
                <label for="durationSec" th:text="#{record.durationSec}">초</label>
                <input type="text" id="durationSec" class="form-control" th:field="*{durationSec}">
            </div>
            <div>
                <label for="heartRate" th:text="#{record.heartRate}">심박수</label>
                <input type="text" id="heartRate" class="form-control" th:field="*{heartRate}">
            </div>
            <div>
                <label for="comment" th:text="#{record.comment}">비고</label>
                <input type="text" id="comment" class="form-control" th:field="*{comment}">
            </div>

            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.update}">기록 수정</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='records.html'" th:onclick="|location.href='@{/records}'|" type="button" th:text="#{button.cancel}">취소</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->

<!-- Page JS -->
<div id="contentJS"></div>
</body>
</html>