<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{layouts/defaultLayout :: layout(~{::title}, ~{::#content}, ~{}, ~{})}">
<head>
    <meta charset="utf-8" />
    <title>달리기왕 개랑맨</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Page content-->
<div id="content">
    <div class="container-fluid m-lg-3">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>This is index page</p>
        <div th:if="${param.joinMemberStatus}" class="alert alert-success" role="alert">
            회원가입 성공!
        </div>
    </div>
</div>
</body>
</html>
