<!DOCTYPE html>
<html lang=ko
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultLayout :: layout (~{::title}, ~{::#content}, ~{::#contentJS}, ~{})}">
<head>
    <meta charset="utf-8" />
    <title>달리기왕 개랑맨 - 달리기 기록 조회</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Page content-->
<div id="content">
    <div class="container-fluid p-3">
        <button class="btn btn-success" style="width: 95%" onclick="location.href='layouts/defaultLayout.html'" th:onclick="|location.href='@{/records/add}'|" type="button">등록</button>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>회차</th>
                    <th th:text="#{record.dateTime}">일시</th>
                    <th th:text="#{record.temperature}">기온</th>
                    <th th:text="#{record.pace}">페이스</th>
                    <th th:text="#{record.distance}">거리</th>
                    <th th:text="#{record.duration}">운동 시간</th>
                    <th th:text="#{record.heartRate}">심박수</th>
                    <th th:text="#{record.comment}">비고</th>
                    <th th:text="#{button.update}">수정</th>
                    <th th:text="#{button.delete}">삭제</th>
                </tr>
                </thead>
                <tbody th:each="record,index: ${records}">
                <tr>
                    <td th:text="${index.count}">1</td>
                    <td th:text="${#temporals.format(record.dateTime,'yyyy-MM-dd HH:mm')}">2022년 10월 20일</td>
                    <td th:text="${record.temperature}">18.5도</td>
                    <td th:text="${record.pace}">5'45"/km</td>
                    <td th:text="|${record.distance}km|">10km</td>
                    <td th:text="|${record.durationHour}시간 ${record.durationMin}분 ${record.durationSec}초|">1 55' 20"</td>
                    <td th:text="${record.heartRate}">178</td>
                    <td th:text="${record.comment}">기본 메시지</td>
                    <td><button class="btn btn-dark" onclick="#!" th:onclick="|location.href='@{/records/{recordId}/edit(recordId=${record.id})}'|" type="button" th:text="#{button.update}">수정</button></td>
                    <!--                    <td><button id="deleteButton" class="btn btn-danger" onclick="onClickDeleteUsingJQuery()" th:onclick="|onClickDeleteUsingJQuery(${record.id})|" type="button">삭제</button></td>-->
                    <td><button id="deleteButton" class="btn btn-danger" onclick="onClickDelete()" th:onclick="|onClickDelete(${record.id})|" type="button" th:text="#{button.delete}">삭제</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="contentJS">
    <script type="text/javascript" src="../static/js/records.js" th:src="@{/js/records.js}"></script>
</div>
</body>
</html>
